<%- include('partials/header') -%>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sit hic debitis aliquam nam! Aspernatur ea consectetur aliquam reprehenderit esse nam? Voluptatem id atque adipisci fuga quidem minima aperiam, quod ullam ipsa asperiores fugit accusantium cumque aliquam necessitatibus quo consequuntur vitae quae maxime at maiores minus nemo blanditiis. Eius, eveniet!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sit hic debitis aliquam nam! Aspernatur ea consectetur aliquam reprehenderit esse nam? Voluptatem id atque adipisci fuga quidem minima aperiam, quod ullam ipsa asperiores fugit accusantium cumque aliquam necessitatibus quo consequuntur vitae quae maxime at maiores minus nemo blanditiis. Eius, eveniet!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sit hic debitis aliquam nam! Aspernatur ea consectetur aliquam reprehenderit esse nam? Voluptatem id atque adipisci fuga quidem minima aperiam, quod ullam ipsa asperiores fugit accusantium cumque aliquam necessitatibus quo consequuntur vitae quae maxime at maiores minus nemo blanditiis. Eius, eveniet!</p>
    </div>
<%- include('partials/footer') -%>